.header {
  display: flex;
  flex-direction: row;
  padding: 92px 24px 96px 24px;
  justify-items: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header_logo {
  margin-left: 42px;
  margin-bottom: 4px;
  padding: 3px 12.5px 8px 2px;
  width: 148px;
  height: 105px;
}

.header_menu-item_active {
  list-style-type: none;
  text-decoration: none;
}

.header_menu-list {
  padding-left: 24px;
  position: relative;
  gap: 32px;
  list-style-type: circle;
  display: inline-flex;
}

.header_menu-link {
  font-size: 18px;
}
.address {
  padding-top: 5px;
  font-style: normal;
  font-size: 18px;
  text-decoration-skip-ink: none;
}
.link__address {
  margin-left: 184px;
}

.cover {
  width: 1100px;
  min-height: 757px;
  background-size: 1100px 757px;
}

.cover_image {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  position: relative;
  width: 1100px;
  min-height: 757px;
}

.text-center {
  letter-spacing: 0.5em;
}

.cover_title {
  display: block;
  margin: 0;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 115px;
  position: relative;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}

.aligned-text {
  letter-spacing: 0.3em;
  display: block;
}

.letter-spacing_extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  display: block;
  margin-left: 1px;
  margin-top: 11px;
  text-align: center;
  letter-spacing: 0.3em;
}

.aligned-text_right {
  margin-top: 6px;
  display: block;
  text-align: end;
  letter-spacing: 0.3em;
  justify-self: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover_description {
  display: flex;
  text-transform: uppercase;
  font-size: 22px;
}

.cover_text_title {
  color: #ffffff;
  display: block;
  padding-left: 78px;
  padding-top: 147px;
  padding-right: 79px;
  word-spacing: 0.9em;
  z-index: 1;
}

.cover_botton {
  padding-top: 135px;
  position: relative;
  text-transform: uppercase;
}

.bet-botton {
  border: 1px solid white;
  padding: 12px 30px 13px 30px;
  background-color: transparent;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
}

.lots {
  padding: 176px 25px 0 25px;
}

.lots__heading {
  padding-left: 40px;
  padding-bottom: 27px;
  text-transform: uppercase;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}

.lost__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  list-style-type: none;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 334px;
  min-height: 563px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lost__card-list-item {
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.card__title {
  width: 254px;
  padding-top: 51px;
  display: inline-block;
  position: relative;
  margin-left: 40px;
  font-size: 22px;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  padding-bottom: 48px;
  font-size: 20px;
  width: 255px;
  margin-left: 40px;
  color: #ffffff;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
  padding-top: 28px;
  display: block;
  font-size: 20px;
  line-height: 23px;
  color: black;
  padding-left: 40px;
  text-underline-offset: 5px;
}

.about {
  padding: 146px 24px 180px 24px;
  width: 1100px;
}

.about__column {
  padding-top: 35px;
  padding-left: 47px;
  width: 148px;
  height: 114px;
}

.about__logo {
  position: relative;
  display: block;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about__logo-image {
  position: relative;
  margin-top: 35px;

  margin-left: 48px;
  height: 175px;
  width: 145px;
}

.about__title {
  padding-bottom: 75px;
  display: block;
  margin-top: 10px;
  position: relative;
  padding-left: 365px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  padding-top: 24px;
  margin-left: 365px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}
.about___text {
  width: 693px;

}
.footer {
  display: grid;

  grid-template-columns: auto auto auto;
  padding: 0px 50px 88px 50px;
}

.address_footer {
  font-style: normal;
  text-decoration-skip-ink: none;
  font-size: 18px;
}

.footer__address {
  padding-top: 5px;
}

.footer_menu {
  font-size: 18px;
}

.footer_menu-list {
  position: relative;
  padding-left: 84px;
  text-align: center;
  list-style: none;
}

.footer_menu-item {
  text-decoration-skip-ink: none;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer__social-list-item li {
  position: relative;
  margin-left: 45px;
  display: inline-block;
  width: 48px;
  list-style: none;
}

.footer__social-list-item {
  display: flex;
  justify-content: flex-end;
}
